@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #141416;
    --foreground: #ededed;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}
